<header>
  <nav>
    <a href="/">Home</a>
    |
    <a href="/search/id">Search by ID</a>
    |
    <a href="/search/name">Search by Name</a>
    |
    <a href="/viewData">All Data</a>
    |
    <a href="/viewData/clean">Clean Data</a>
    |
    <a href="/viewData/price">Search by Price</a>
    |
    <a href="/listings/create">Add New Listing</a>
    |
  </nav>
  <h1>Ariunjargal Erdenebaatar - n01721372</h1>
</header>